<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trigms.mango.market.wechat.wechat.model.dao.ModulePathMapper">

    <select id="getList" resultType="com.trigms.mango.market.wechat.wechat.model.bean.ModulePath">
        SELECT * FROM wechat_module_path ORDER BY id DESC
    </select>
    <select id="search" resultType="com.trigms.mango.market.wechat.wechat.model.bean.ModulePath" parameterType="com.trigms.mango.market.wechat.wechat.model.bean.ModulePathSearchRequestBean">
        SELECT * FROM wechat_module_path
        <where>
            <if test="mapPathUrl != null and mapPathUrl !=''">
                AND map_path_url=#{mapPathUrl}
            </if>
                        <if test="redirectUri != null and redirectUri !=''">
                AND redirect_uri=#{redirectUri}
            </if>
                        <if test="requirementPermission != null and requirementPermission !=''">
                AND requirement_permission=#{requirementPermission}
            </if>
            )
        </where>
        ORDER BY id DESC
    </select>
    <insert id="insertModulePath" useGeneratedKeys="true" keyProperty="id" parameterType="com.trigms.mango.market.wechat.wechat.model.bean.ModulePath">
        INSERT INTO wechat_module_path (map_path_url,redirect_uri,requirement_permission)
        VALUES(#{mapPathUrl},#{redirectUri},#{requirementPermission})
    </insert>
    <update id="updateModulePath" parameterType="com.trigms.mango.market.wechat.wechat.model.bean.ModulePath">
        UPDATE wechat_module_path SET
        map_path_url=#{mapPathUrl},redirect_uri=#{redirectUri},requirement_permission=#{requirementPermission}
        WHERE id=#{id}
    </update>
</mapper>